.carousel-items > div {
  display: none;
}

#pp1-control:checked ~ .carousel-inner #pp1,
#pp2-control:checked ~ .carousel-inner #pp2,
#pp3-control:checked ~ .carousel-inner #pp3,
#pp4-control:checked ~ .carousel-inner #pp4 {
  display: block;
}

.carousel-btn {
  border: 2px solid #fff;
  border-radius: 50%;
}

#pp1-control:checked ~ .carousel-inner [for="pp1-control"],
#pp2-control:checked ~ .carousel-inner [for="pp2-control"],
#pp3-control:checked ~ .carousel-inner [for="pp3-control"],
#pp4-control:checked ~ .carousel-inner [for="pp4-control"] {
  background-color: var(--color-primary);
}
