footer {
  background-color: var(--color-primary);
}

.footer-secondary a {
  color: var(--color-primary-light);
  font-family: var(--font-primary);
  text-decoration: none;
}

@media only screen and (min-width: 38em) {

  .footer-main {
    text-align: left;
  }

}
