<header class="masthead header" role="banner">
  <div class="grid gutter-1-2">

    <div class="unit xs-1 s-1 m-1-2 l-1-4 text-left gutter-1-2 pad-t name giga">
      <a href="/">Karen Hodgkinson</a>
    </div>

    <div class="unit xs-1 s-1 m-1-2 l-3-4 text-right gutter-1-2 pad-t">

      <nav class="nav" role="navigation" id="nav">
        <ul class="list-group-inline">
          <li class="island-1-8 {% if page.highlight_nav == 'gallery' %}current{% endif %}">
            <a class="island-1-8 gutter-1-2" href="/gallery/">Gallery</a>
          </li>
          <li class="island-1-8 {% if page.highlight_nav == 'about' %}current{% endif %}">
            <a class="island-1-8 gutter-1-2" href="/about/">About</a>
          </li>
          <li class="island-1-8 {% if page.highlight_nav == 'contact' %}current{% endif %}">
            <a class="island-1-8 gutter-1-2" href="/contact/">Contact</a>
          </li>
        </ul>
      </nav>

    </div>

  </div>
</header>
