.header {
  background-color: #fff;
  border-bottom: 2px solid var(--color-secondary-dark);
  font-family: var(--font-secondary);
  text-transform: uppercase;
  color: var(--color-darkest);
}

.nav a {
  color: var(--color-secondary);
  background-color: transparent;
  text-decoration: none;
  border: none;
}

.nav a:hover {
  color: var(--color-secondary-dark);
  background-color: var(--color-primary-light);
  text-decoration: none;
  border: 2px solid var(--color-secondary);
  border-radius: 3px;
}

.current a {
  color: var(--color-secondary-dark);
  border-bottom-style: solid;
  border-bottom-width: medium;
  border-bottom-color: var(--color-secondary);
}

.name a {
  color: var(--color-secondary-dark);
}
